/* .container {
  justify-content: center;
  align-items: center;
} */
.image-item {
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.image-item img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 700px;
  background-size: cover;
}
